@page "/"

<PageTitle>Bienvenido a mi página personal</PageTitle>

<div class="text-center">
<h1>Bienvenidos a Jotaweb.</h1>


    <h2 class="mt-4">Esta es la página principal de jotaweb, pónganse cómodos </h2>
    <p>Descubre mas sobre mí y no dudes en ponerte en contacto</p>
    <img src="bienvenida.jpg" alt="foto de bienvenida" class="img-fluid my-4" style="max-width: 550px; height: auto;"/> 

    <div class="d-grip gap-2 col-6 mx-auto my-3">
        <a href="/quienessomos" class="btn btn-primary rounded-pill shadow-lg">Quiénes Somos</a>
        <a href="/contacto" class="btn btn-secondary rounded-pill shadow-lg"> Contáctame</a>
    </div>

</div>
