@page "/quienessomos"

<PageTitle>Quiénes Somos</PageTitle>

<div class="container mt-4">
    <h2 class="text-primary">Sobre el creador</h2>
    <p>Jotaweb es un proyecto de iniciativa personal, impulsada por mi inquietud por la tecnología y el aprendizaje continuo.</p>

<h3 class="mt-4">Mis objetivos con este proyecto</h3>
<ul class="list-group list-group-flush">
    <li  class="list-group-item">Demostrar habilidades en desarrollo web con Blazor y .NET</li>
    <li class="list-group-item">Crear un portafolio desarrollado desde cero</li>
    <li class="list-group-item">Explorar nuevas tecnologías y aprender con cada paso.</li>
</ul>

<img src="fotoYo.jpg" alt="Foto de perfil" style="max-width: 250px; margin-bottom: 25px;">


    <h4 class="mt-4">¿Dónde estoy ahora?</h4>
    <p>Me podrás encontrar por aquí</p>
    
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29779.486830743623!2d-1.1302935999999999!3d37.9922408!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd63b8a38858bff3%3A0x7b7f4f4e6e3c0b12!2sMurcia!5e0!3m2!1ses!2ses!4v1681437489082!5m2!1ses!2ses" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    

</div>